body
{
    background-color: beige;
}

div
{
    margin: auto;
    width: 75%;
    padding: 10px;
}

p
{
    font-size: 16px;
}

#list
{
    text-align:justify;
}

.summary
{
    text-align:center;
}

.body
{
    text-align:justify;
}

h2
{
    color: rgb(95, 90, 90);
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align:center;
}

h1
{
    color:brown;
    margin: auto;
    padding: 10px;
    text-align: center;
}

img
{
    display: block;
    width: 800px;
    margin: auto;
}

ul
{
    list-style:square;
}