body
{
    background-color: darkred;
}

#wrapper
{
    width: 75%;
    margin: auto;
    text-align: center;
}

#header
{
    width: 100%;
    margin: auto;
    color: white;
    background-color: darkgreen;
    border: solid black 1px;
    text-align: center;
}

#contact_list table
{
    background-color: lightgreen;
    margin: auto;
    border: solid 1px black;
    border-collapse: collapse;
    font-size: 18px;
}

#contact_list th, #contact_list td
{
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: solid 1px black;
    min-width: 150px;
    text-align: center;
    padding: 15px;
}

#contact_list tfoot td
{
    text-align: left;
    font-weight: bold;
}

button
{
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color: green;
    margin: 7px;
}

#contact_form
{
    width: 50%;
    margin: auto;
    background-color: lightgreen;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: none;
}

#contact_form input
{
    font-size: 18px;
    padding: 7px;
    margin-top: 10px;
    margin-left: 10px;
}

#contact_form button
{
    margin-top: 10px;
    margin-left: 10px;
}

.contact tr
{
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    color: white;
}


.invalid
{
    border-color:red;
}