h1
{
    font-size: 48px;
}

body
{
    background-color: grey;
    width: 60%;
    margin: auto;
    text-align: center;
}

input
{
    font-size: 24px;
    padding: 5px;
    margin: 10px;
}

button
{
    background-color: lightblue;
    font-size: 24px;
    padding: 5px;
    margin: 20px;
    min-width: 200px;
    border-radius: 10px;
}

#answer
{
    background-color: tan;
    font-size: 28px;
    border: solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

label
{
    font-size: 28px;
}